html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #DDDDDD;
    color: white;
}

th {
    color: Black;
}

td {
    color: Black;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

    .button-container .btn {
        width: 48%; /* หรือปรับตามความเหมาะสม */
    }
.form-label {
    color: black;
}